*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Myriad Pro', sans-serif;                                          
}



.botton{
    background-color: #080b12;
    margin-left: 300px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
}

.botton a{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
}

.wrapper{
    background-color: #000000;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar-container{
    width: 300px;
}


.sidebar-container h3{
    color: white;
}
