*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Myriad Pro', sans-serif;   
    text-decoration: none;
    list-style-type: none;                                       
}

h3, h4{
    color: white;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

li+li{
    margin-top: 10px;
}

a{
    text-decoration: none;
}

/* viewport e divisione degli spazi */

.main-container{
    /* background-color: black; */
    max-width: 1480px;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
}

.spotify-column{
    background-color: yellow;
    width: 250px;
    height: 100%;
}

.album-column{
    background-color: red;
    flex-grow: 1;
}

.topbar-botton{
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

.topbar-botton a{
    padding: 10px 15px;
}


/* Playbar */
.playbar{
    background-color: grey;
    height: 100px;
    max-width: 1480px;
    width: 100%;
}